<div class = "container">
   <div *ngIf="selectedCity === null">
      <h1>Enter city name</h1>
      <input 
        type="text" 
        list = "city-list"
        placeholder="Enter city name to and Press enter"
        class="city-input"
        (input) = "onSelectingCity($event.target.value)"
        (keyup.enter) ="onKeyUp($event.target.value)"
        />
        <datalist id ="city-list">
          <option *ngFor= "let city of cities" value="{{city}}">Hello</option>
        </datalist>
        <p *ngIf="isError">{{message}}</p>
   </div>
    <app-temperature
      [minTemp]="minTemp"
      [maxTemp]="maxTemp"
      [feelsLike]="feelsLike"
      [windSpeed]="windSpeed"
      [selectedCity]="selectedCity"
      [temp]="temp"
    >
    </app-temperature>
</div>